html {
  scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}

header.masthead  {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}

div#headerBackground  {
    /* The image used */
    background-image: url("images/bg-min.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-position: 50%;
    background-size: cover;
}

#myPic {
  border: 3px solid #fff;
  margin-bottom: 30px;
}

div.content {
    background: #fff;
    position: relative;
    z-index: 3;
}

div.content-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
            box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

section#portfolio {
    padding: 70px 0;
}

div.portfolio-content {
    padding: 50px 0;
    scroll-margin-top: 50px;
}

section#omMig {
    padding: 80px 0;
}

section#kontakt {
    padding: 80px 0;
    background-color: #343434;
    background: linear-gradient(135deg, rgba(62,62,62,0.89) 0%, #151515 100%);
}

/* Navbar styles */
.navbar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav-change {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
          box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
}

/* Flip-card styles */
.flip-card {
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    margin: 0 auto;
    cursor: pointer;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 6px;
    padding-top: 35px;
  }

  .flip-card-front {
    background-color: #f2fcff;
    z-index: 2;
  }

  .flip-card-front img {
      width: 150px;
  }

  .flip-card-back {
    background-color: #fafafa;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    z-index: 1;
  }

/* Corousel styles */
div.carousel-inner {
  max-height: 480px;
}

.fas.fa-file-pdf {
  font-size: 1.5em;
}

#skovfoden {
  width: 400px;
  height: 500px;
}

#kompasUi {
  padding: 0 25px;
}

#sprintBook {
  width: 150px
}

ul#xp {
  list-style-type: none;
}

ul#xp li::before {
  content: "-";
  padding-right: 8px;
}

ol.hugged {
  list-style-type: none;
  counter-reset: section;
}

ol.hugged li::before {
  counter-increment: section;
  content: "(" counter(section) ")";
  padding-right: 8px;
  margin-left: -25px;
}

div.ikoner img {
  max-width: 35px;
  max-height: 35px;
}

div.ikoner img#xd {
  padding: 5px;
}


/* Drive Animation */
#canvas {
  width: 602px;
  height: 318px;
}

#canvas img {
  position: absolute;
}

img#treeIcon {
  margin-left: 475px;
  margin-top: 30px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

img#treeIcon.animate {
  -webkit-animation: pressed 0.5s, color forwards;
          animation: pressed 0.5s, color forwards;
  -webkit-animation-delay: 3s, 3.1s;
          animation-delay: 3s, 3.1s;
}

@-webkit-keyframes pressed {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@keyframes pressed {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@-webkit-keyframes color {
  100% {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

@keyframes color {
  100% {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

img#cursor {
  width: 20px;
  height: 30px;
  margin-top: 155px;
  margin-left: 495px;
}

img#cursor.animate {
  -webkit-animation: move 1.8s forwards, click 0.5s, hide 2s forwards;
          animation: move 1.8s forwards, click 0.5s, hide 2s forwards;
  -webkit-animation-delay: 1s, 3s, 5s;
          animation-delay: 1s, 3s, 5s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px)
  }
  100% {
    -webkit-transform: translateY(-105px);
            transform: translateY(-105px)
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px)
  }
  100% {
    -webkit-transform: translateY(-105px);
            transform: translateY(-105px)
  }
}

@-webkit-keyframes click {
  0% {
    -webkit-transform: scale(1) translateY(-105px);
            transform: scale(1) translateY(-105px)
  }
  50% {
    -webkit-transform: scale(0.9) translateY(-120px);
            transform: scale(0.9) translateY(-120px)
  }
  100% {
    -webkit-transform: scale(1) translateY(-105px);
            transform: scale(1) translateY(-105px)
  }
}

@keyframes click {
  0% {
    -webkit-transform: scale(1) translateY(-105px);
            transform: scale(1) translateY(-105px)
  }
  50% {
    -webkit-transform: scale(0.9) translateY(-120px);
            transform: scale(0.9) translateY(-120px)
  }
  100% {
    -webkit-transform: scale(1) translateY(-105px);
            transform: scale(1) translateY(-105px)
  }
}

img#driveLogo {
  margin-top: 13px;
  margin-left: 28px;
}

img#driveLogo.animate {
  -webkit-animation: hide 1s forwards;
          animation: hide 1s forwards;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

@-webkit-keyframes hide {
  100% {
    opacity: 0
  }
}

@keyframes hide {
  100% {
    opacity: 0
  }
}

img#recyclingLogo {
  margin-top: 14px;
  margin-left: 29px;
  opacity: 0;
}

img#recyclingLogo.animate {
  -webkit-animation: show 1s forwards;
          animation: show 1s forwards;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

@-webkit-keyframes show {
  100% {
    opacity: 1
  }
}

@keyframes show {
  100% {
    opacity: 1
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 55%, 75%, 100% {
    -webkit-transform: translateY(-0px);
            transform: translateY(-0px);
  }
  40% {-webkit-transform: translateY(-2px);transform: translateY(-2px);}
  60% {-webkit-transform: translateY(2px);transform: translateY(2px);}
}

@keyframes bounce {
  0%, 20%, 55%, 75%, 100% {
    -webkit-transform: translateY(-0px);
            transform: translateY(-0px);
  }
  40% {-webkit-transform: translateY(-2px);transform: translateY(-2px);}
  60% {-webkit-transform: translateY(2px);transform: translateY(2px);}
}

img#carbon  {
  width: 48px;
  margin-top: 213px;
  margin-left: 27px;
  opacity: 0;
}

img#carbon.animate  {
  -webkit-animation: show forwards, bounce 0.4s;
          animation: show forwards, bounce 0.4s;
  -webkit-animation-delay: 6s, 6s;
          animation-delay: 6s, 6s;
}

#canvas img[src*="content"]{
  margin-left: 142px;
  opacity: 0;
}

img#green {
  margin-top: 93px;
}

img#green.animate {
  -webkit-animation: show forwards, bounce 0.7s;
          animation: show forwards, bounce 0.7s;
  -webkit-animation-delay: 4s, 4s;
          animation-delay: 4s, 4s;
}

img#orange {
  margin-top: 150px;
}

img#orange.animate {
  -webkit-animation: show forwards, bounce 0.7s;
          animation: show forwards, bounce 0.7s;
  -webkit-animation-delay: 4.5s, 4.5s;
          animation-delay: 4.5s, 4.5s;
}

img#brown {
  margin-top: 207px;
}

img#brown.animate {
  -webkit-animation: show forwards, bounce 0.7s;
          animation: show forwards, bounce 0.7s;
  -webkit-animation-delay: 5s, 5s;
          animation-delay: 5s, 5s;
}

img#greenTwo {
  margin-top: 264px;
}

img#greenTwo.animate {
  -webkit-animation: show forwards, bounce 0.7s;
          animation: show forwards, bounce 0.7s;
  -webkit-animation-delay: 5.5s, 5.5s;
          animation-delay: 5.5s, 5.5s;
}

div#collapseContentTwo img {
  margin: 25px 0;
}

.alerts {
  height: 50px;
}